<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@ViewBag.PageTitle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Treat Shop Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/Treats">Treats</a>
          <a class="nav-item nav-link" href="/Flavors">Flavors</a>
        </div>
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link disabled" href="#">Account</a>
        </div>
      </div>
    </nav>
    <div class ="container">
      @RenderBody()
    </div>
  </body>
</html>